torch==2.2.1
transformers==4.38.2
datasets==2.18.0
peft==0.8.2
trl==0.7.11
streamlit==1.31.1
tensorboard==2.14.1
accelerate==0.27.2
bitsandbytes==0.42.0
sentencepiece==0.1.99
protobuf>=3.20.0,<4.24.0
huggingface-hub==0.20.3
safetensors==0.4.1
